.container{
    width: 100%;
    min-width: 380px;
    height: auto;
}

.header{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title{
    font-family: sans-serif;
    font-size: 18px;
    font-weight: bold;
}

.cartNav{
    width: 200px;
    height: 100%;
    display: flex;
    align-items: center;
}

.cartNav hr{
    width: 100px;
    color: darkgrey;
}

.cartIcon{
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border: 1px solid lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.shippingIcon{
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border: 1px solid lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cartFooter{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.checkoutContainer{
    width: 300px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.totalPrice{
    font-weight: bold;
    font-size: 16px;
}

.checkoutButton{
    width: 120px;
    height: 32px;
    background-color: rgb(1, 132, 175);
    color: white;
    border-radius: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
}

.backButton{
    width: 80px;
    font-weight: bold;
    font-size: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}