.container{
    width: 100%;
    height: auto;
}

.tableHeader{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    background-color: rgb(223, 223, 223);
    font-size: 14px;
    border-radius: 8px;
}

.columnHeader{
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tableBody{
    width: 100%;
    height: auto;
    max-height: 300px;
    overflow: auto;
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.16);
    border-radius: 8px;
    margin-bottom: 20px;
}

.tableRow{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid lightgray;
    font-size: 14px;
}

.tableRowItems{
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.shippingContainer{
    height: 100%;
    width: 100%;
    display: flex;
}

.rightShippingContainer{
    position: sticky;
    top: 82px;
    display: flex;
    flex-direction: column;
    width: 290px;
    height: 330px;
}

.leftShippingContainer{
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    width: calc(100% - 290px);
    height: auto;
}

.cartPreviewRow{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cartPreviewRowItemName{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-right: 16px;
    width: 180px;
}

.shippingInfo p {
    text-align: center;
}

.PaymentInfo p {
    text-align: center;
}

.shippingFormGroup{
    width: 70%;
    margin: 0 auto;
}

.inputComponent{
    width: 100%;
    height: 44px;
    border-radius: 22px;
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.16);
    margin-bottom: 16px;
}

.inputComponent input{
    width: calc(100% - 16px);
    height: 99%;
    border-radius: inherit;
    border: none;
    padding-left: 16px;
}

.deliveryRow{
    width: 70%;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.radio{
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 50%;
    margin-right: 20px;
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.16);
}