.navigation__layout__container {
  height: 100%;
  width: 100%;
  min-width: 100%;
  min-height: 100%;
  display: flex;
  position: relative;
}

.navigation__layout__content {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: inherit;
  justify-content: space-between;
}

.student__navigation__layout__children__container {
  height: auto;
  width: 90%;
  margin: 90px auto 20px auto;
}

.navigation__layout__top__navigation__container {
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100%;
}

.navbar__container{
    width: calc(100% - 60px);
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    background: linear-gradient(102deg, #04aefb 0%, #135ee9 100%);
}

.navigation__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
}

.navigation__container div{
    display: flex;
    margin: 0 16px;
    color: rgb(231, 231, 231);
    font-size: 14px;
    cursor: pointer;
}

.navigation__container div:hover{
    display: flex;
    margin: 0 16px;
    color: white;
    font-size: 14px;
}

.logo__container p{
    font-family: Cambria;
    font-size: 30px;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 3px 3px 1px #000000;
}

.cartNumber{
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 2px solid white;
  background-color: green;
  margin-left: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
}

.userAvatar{
  width: 34px;
  height: 34px;
  border-radius: 8px;
  background-color: rgb(94, 94, 94);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  font-weight: bold;
  color: white;
  border: 2px solid white;
  cursor: pointer;
}

.profileSidebar{
    width: 300px;
    height: 130px;
    background-color: white;
    position: absolute;
    top: 90px;
    right: 0px;
    border-radius: 8px;
    padding: 24px;
    border: 2px solid deepskyblue;
    box-shadow: 0px 0px 10px rgb(136 136 136);
    z-index: 99;
}

.profileSidebar p{
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.logoutButton{
  width: 100%;
  height: 44px;
  border-radius: 10px;
  background: linear-gradient(102deg, #04aefb 0%, #135ee9 100%);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
}